.components-showroom{
    display: flex;

    button {
        min-width: 28px;
        max-width: 28px !important;
        min-height: 28px;
        overflow: hidden;
        border-width: 1px;
        border-style: outset;
        border-color: transparent;
        // border-style: hidden;
        box-sizing: content-box;
        box-shadow: none;
        // border-style: dashed;
        // display: inline-block;
        padding: 0;
        position: relative;
        outline: none;
        --item-index: 0;

        &:hover{
            // border-style: outset;
            border-color: unset;
        }

        &.active{
            border-width: 1px;
            border-color: unset;
            border-style: inset;
            box-shadow: none;
            background-image: url(images/standard.png);
            background-position: top right;
        }

        &::before{
            content: '';
            position: absolute;
            // inset: 2px;
            left: 3px;
            top: 3px;
            width: 22px;
            height: 22px;
            background-image: url(images/standard.png);
            background-repeat: no-repeat;
            background-position-y: -3px;
            background-position-x: calc(var(--item-index) * -28px - 45px - 3px);
            image-rendering: pixelated;
        }
    }
    .arrow{
        margin-right: 20px;
        
        &::before{
            background-position-x: -2px;
        }
    }
}