#resizers {
    position: absolute;
    overflow: visible !important;
    inset:0;
    pointer-events: none;
}

.resizer-edge{
    position: absolute;
    background-color: rgb(96, 34, 241);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    pointer-events: all;
    margin-left: -5px;
    margin-top: -5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}