#resizers {
    position: absolute;
    overflow: visible !important;
    inset:0;
    pointer-events: none;
}

.resizer-edge{
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: all;
}